# Node modules folder
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# AWS credentials (optional, for extra security)
.aws/

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Next.js build output
.next/

# Production
/build

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# S3 temporary files (if any)
*.tmp
